[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
djangorestframework = "*"
django = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
ipython = "==7.31.0"
django-cors-headers = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.9"
